%html
  %body
    %h1 ListenUp Audiobook Validator
    To validate your audio, simply select one or more files, then click the Upload button. Please be sure to upload WAV or FLAC audio for best results!
    %br
    A score of 40 or higher indicates a passing grade.
    %br
    %br
    %form(method="post" enctype='multipart/form-data')
      %input{:type => "file", :multiple => "true", :name => "myfiles[]"}
      %br
      %br
      %input(type='submit' value='Upload!')
      %br