%html
  %head
    %title ListenUp Audiobook Validator
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="http://45.79.191.135/css/style.css")
    %link(rel="stylesheet" href="http://45.79.191.135/css/bar.css")
  %body
    #wrapper
      #header
        %h1 ListenUp Audiobook Validator DEMO APP
        %br
        %br
        %h2 To validate and master your audio for delivery, simply select one ore more WAV audio files. Then, click the 'Upload!' button.
        %br
        %h2 A score of 40 or higher indicates a passing grade.
        %br
        %br
        Please be sure to upload WAV! FLAC audio works, but for best results WAV should be used.
        %br
        %br
        Note that SDMP is running this demo on limited bandwidth. Because of this, AutoMastering takes a bit of time after you click the link to actually deliver you a file. So, don't panic if it takes ~10 seconds before it tries to start the file download. It won't be like that on the real thing! :)
        %br
        %br
      #content
        %form(method="post" enctype='multipart/form-data')
          %input{:type => "file", :multiple => "true", :name => "myfiles[]"}
          %br
          %br
          %input(type='submit' value='Upload!')
        <div class="progress">
        <div class="bar"></div >
        <div class="percent">0%</div >
        </div>
        <div id="status"></div>
        %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"}
        %script{:type => "text/javascript", :src => "http://malsup.github.com/jquery.form.js"}
        :javascript
          (function() {
            var bar = $('.bar');
            var percent = $('.percent');
            var status = $('#status');
            $('form').ajaxForm({
                beforeSend: function() {
                    status.empty();
                    var percentVal = '0%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                //console.log(percentVal, position, total);
                },
                success: function() {
                    var percentVal = '100%';
                    bar.width(percentVal)
                    var theText = percentVal + ' AUTOMASTERING';
                    percent.html(theText);
                },
              complete: function(xhr) {
                status.html(xhr.responseText);
              }
            }); 
          })();