%html
  %head
    %title ListenUp Audiobook Validator
    %link(rel="stylesheet" href="http://yui.yahooapis.com/2.8.0r4/build/reset/reset-min.css")
    %link(rel="stylesheet" href="http://45.79.191.135/css/style.css")
    %link(rel="stylesheet" href="http://45.79.191.135/css/bar.css")
  %body
    #wrapper
      #header
        %h1 ListenUp Audiobook Validator
        %br
        %br
        %h2 To validate your audio, simply select one or more files, then click the Upload button.
        %br
        %h2 A score of 40 or higher indicates a passing grade.
        %br
        %br
        Please be sure to upload WAV or FLAC audio for best results!
        %br
        %br
        %br
        %br
        %br
      #content
        %form(method="post" enctype='multipart/form-data')
          %input{:type => "file", :multiple => "true", :name => "myfiles[]"}
          %br
          %br
          %input(type='submit' value='Upload!')
          %br
        <div class="progress">
        <div class="bar"></div >
        <div class="percent">0%</div >
        </div>
        <div id="status"></div>
        %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"}
        %script{:type => "text/javascript", :src => "http://malsup.github.com/jquery.form.js"}
        :javascript
          (function() {
            var bar = $('.bar');
            var percent = $('.percent');
            var status = $('#status');
            $('form').ajaxForm({
                beforeSend: function() {
                    status.empty();
                    var percentVal = '0%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
                uploadProgress: function(event, position, total, percentComplete) {
                    var percentVal = percentComplete + '%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                //console.log(percentVal, position, total);
                },
                success: function() {
                    var percentVal = '100%';
                    bar.width(percentVal)
                    percent.html(percentVal);
                },
              complete: function(xhr) {
                status.html(xhr.responseText);
              }
            }); 
          })();