%html
  %body
    %h1 Audio QC File Uploader!
    %form(method="post" enctype='multipart/form-data')
      %input(type='file' name='myfile')
      %br
      %br
      %input(type='submit' value='Upload!')
